<div class="container mt-2">
    <nav class="navbar navbar-expand-md ">
        <div class="container-fluid ">
          <a class="navbar-brand" href="#">
            <img src="../../assets/Logo.svg" width="60" alt="">
          </a>

          <!-- Menu Responsivo (Hamburguer)-->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navegacaoMenu" aria-controls="navegacaoMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Navegação -->
          <div class="collapse navbar-collapse " id="navegacaoMenu">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="#">
                  Sobre Mim
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#">
                  Projetos
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Contato
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>







</div>
