/* You can add global styles to this file, and also import other style files */
#corpo{
    background-color: #303030;
    color: #fff;
}
*{
    overflow-x: hidden;
    font-family: merriweather;
}


@font-face {
    font-family: "merriweather";
    src: url(./assets/fontesPersonalizadas/merriweather/Merriweather-Regular.otf);
}