<div class="container-fluid mb-3">




            <div class="row row-cols-auto justify-content-end">
                <div class="col fs-1 mx-2">
                    <a href="http://www.linkedin.com/in/rafael-navarro-209462180"> 
                        <i class="fa-brands fa-linkedin fa-beat"></i>
                    </a>
                </div>


                <div class="col fs-1 mx-2">
                    <a class="" href="https://github.com/Rafael0125"> 
                        <i class="fa-brands fa-github fa-beat"></i>
                    </a>
                </div>


                <div class="col fs-1 mx-2">
                    <a href="https://api.whatsapp.com/send?phone=5511977689743">
                        <i class="fa-brands fa-whatsapp fa-beat"></i>
                    </a>
                </div>


            </div>

</div>
