<div class="container-fluid">
    <div class="row mt-md-5">
        <div class="col-md-8 mt-md-5">
            <div class="display-3 justify-content-center mt-md-5 ">
                <div #box class="box ">
                    {{ola}}
                </div>                
            </div>

            <div class="row text-success">
                <div #frase class="col-md-12 ">
                    {{fraseMeio}}
                </div>
            </div>

            <div class="row display-1 justify-content-center">
                <span #meuNome>
                    {{nome}}
                </span> 
            </div>

        </div>

    </div>

</div>
